:root {
  --global-color-primary: #6f38c5;
  --global-color-secondary: #87a2fb;
  --global-color-primary-dark: #adddd0;
  --global-color-primary-light: #eeeeee;
  --global-padding-top: 6.25rem;
  --global-headings-font-size: 2rem;
  --global-padding-sections: 18.75rem;
}
@font-face {
  font-family: Nunito;
  src: url(assets/Fonts/Nunito/Nunito-VariableFont_wght.ttf);
}
@font-face {
  font-family: Righteous;
  src: url(assets/Fonts/Righteous/Righteous-Regular.ttf);
}
html {
  /* set the font size to the size of the browser */
  /* font-family: FuzzyBubbles; */
  font-family: Righteous;
  user-select: none;
}
body {
  margin: 0; /*removes white spaces around the page when 0*/
  /* overflow-x: hidden; */
}
header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* Title of the Page */
.title {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: var(--global-color-primary);
}
/*Name and last Name*/
@keyframes name-apear-left {
  from {
    left: 50%;
  }
  to {
    left: 33%;
  }
}
@keyframes name-apear-right {
  from {
    right: 33%;
  }
  to {
    right: 50%;
  }
}
.first-name-container {
  /* 163.63px 72px */
  height: 4.5rem;
  position: relative;
}
.last-name-container {
  /* 199.19px 72px */
  height: 4.5rem;
  position: relative;
}
.highlight {
  position: absolute;
  width: 6rem;
  height: 4rem;
  transform: skewY(-10deg);
}
.first-name-highlight {
  right: 50%;
  margin-right: 5rem;
  background-color: var(--global-color-primary-light);
}
.last-name-highlight {
  left: 50%;
  background-color: var(--global-color-secondary);
}
.name {
  padding: 1rem;
  font-size: 4rem;
}
.first-name {
  right: 50%;
  position: absolute;
  animation: name-apear-right 2s ease-in-out 100ms 1 normal forwards;
}
.last-name {
  left: 50%;
  position: absolute;
  animation: name-apear-left 2s ease-in-out 100ms 1 reverse forwards;
}

/* arrow */
@keyframes bobble {
  0% {
    transform: translateY(-4px);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(3px);
  }
}
.down-arrow {
  font-size: 32px;
  cursor: pointer;
  position: absolute;
  align-self: center;
  margin-top: 90vh;
  animation-name: bobble;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* Navigation */
nav {
  flex-basis: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: var(--global-padding-top);
}
.foto-container {
  display: flex;
  width: 700px;
  height: auto;
  justify-content: center;
  position: relative;
}
.my-foto {
  width: 100%;
  object-fit: contain;
}
.foto-frame {
  position: absolute;
  top: 30px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 85%;
  background-color: #87a2fb;
  transform: skewY(10deg);
  z-index: -1;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--global-color-primary-light);
  width: 500px;
  height: 500px;
  border-radius: 10px;
}
.btn {
  width: 300px;
  position: relative;
  padding-inline: 20px;
  padding-block: 1px;
  border: none;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
  background: var(--global-color-secondary);
  transform: perspective(1px) translateZ(0) skew(-10deg);
  transition: color 0.3s;
}
.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--global-color-primary);
  transform: scaleX(0) skew(-10deg);
  transform-origin: 50%;
  transition: transform 0.3s ease-out;
}
.btn:hover,
.btn:active,
.btn:focus {
  color: #adddd0;
}
.btn:hover:before,
.btn:active:before,
.btn:focus:before {
  transform: scaleX(1);
}
.hidden {
  display: none;
}
/* head of sections */
.head {
  font-size: var(--global-headings-font-size);
  cursor: default;
  position: relative;
  margin-bottom: 2rem;
  display: block;
}
/* highlight for the headers */
.head::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 3.125rem;
  height: 100%;
  background-color: var(--global-color-secondary);
  z-index: -1;
  transform: skewY(-20deg);
  transition: all 0.5s;
}
/* About  */
.about {
  margin-inline: var(--global-padding-sections);
  margin-block: 200px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
.about-content {
  /* font-weight: 400; */
  font-family: Nunito;
  font-weight: 400;
  font-size: 1.3rem;
}
.about-background {
  width: 110%;
  height: 100%;
  top: 100px;
}
.toolkit-background {
  width: 110%;
  height: 140%;
  top: 0;
}
.background {
  position: absolute;
  content: "";
  transform: skewY(5deg);
  align-self: center;
  background-color: var(--global-color-primary-light);
  z-index: -2;
}

/*  Toolkit  */
.toolkit {
  margin-inline: var(--global-padding-sections);
  margin-block: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.toolkit-head {
  display: inline-block;
}
/* .tool-hammer {
  color: var(--global-color-primary);
} */

/* should happen when the section is in the middle of the page */
/* .toolkit-head:hover:before {
  transform: skewY(0);
  width: 13.5rem;
  height: 15%;
  top: 2rem;
} */
.icons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}
.icon-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: default;
}
.icon {
  width: 80px;
  height: 80px;
  /* filter: invert(21%) sepia(93%) saturate(1483%) hue-rotate(246deg)
    brightness(104%) contrast(99%); */
  cursor: pointer;
  transition: transform 0.3s ease-out;
  z-index: 1;
}
.icon:hover,
.icon:focus,
.icon:active {
  transform: translateY(-8px);
  /* add a shadow */
}
.icon-text {
  opacity: 0;
  z-index: 0;
  transform: translateY(-40px);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  /* transition: transform 0.5s; */
}
.icon:hover + .icon-text,
.icon:active + .icon-text,
.icon:focus + .icon-text {
  transform: translateY(-10px);
  opacity: 1;
}
/*/////////////////////////////// Footer ////////////////////////////*/
footer {
  height: 445px;
  width: 100%;
  background-color: var(--global-color-primary);
  display: grid;
  position: relative;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  justify-content: center;
  align-content: center;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(assets/img/undraw_programming_re_kg9v.svg);
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: center;
  z-index: 0;
}
.footer-text {
  grid-column: 1/3;
  grid-row: 2/4;
  text-align: center;
  color: var(--global-color-primary-dark);
  text-shadow: 1px 1px black;
  z-index: 1;
}
.footer-text h3 {
  font-size: 2rem;
}
.contacts {
  cursor: default;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.contacts a {
  text-decoration: none;
  color: black;
}
.contact-me-logo {
  font-size: 32px;
}
.copyright {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.6;
}
.to-the-top-container {
  grid-column: 4/4;
  grid-row: 4 / 4;
  position: relative;
  z-index: 3;
}
.back-to-top {
  position: absolute;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.back-to-top p {
  color: var(--global-color-primary-dark);
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  margin: 0;
}
.back-to-top-arrow {
  color: var(--global-color-primary-dark);
  font-size: 40px;
}
.back-to-top:hover {
  transform: scale(130%);
}
@keyframes hover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.back-to-top:hover .back-to-top-arrow {
  animation: hover 0.5s ease-in-out 0s infinite alternate;
}

/* Meadia Query */

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media screen and (max-width: 1201px) {
  nav {
    flex-direction: column;
  }
  .button-container {
    flex-direction: row;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    gap: 2rem;
  }
  .footer-text {
    grid-column: 1/2;
  }
}
@media screen and (max-width: 1025px) {
  :root {
    --global-padding-sections: 100px;
  }
  nav {
    flex-direction: column;
  }
  .button-container {
    flex-direction: row;
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    gap: 2rem;
  }
  footer::before {
    opacity: 0.3;
  }
}
@media screen and (max-width: 769px) {
  .btn {
    background: var(--global-color-primary);
    color: #adddd0;
  }
  .btn:hover,
  .btn:active,
  .btn:focus {
    color: #adddd0;
  }
  .btn:hover:before,
  .btn:active:before,
  .btn:focus:before {
    transform: none;
  }
  .button-container {
    flex-direction: column;
    width: 100vw;
    height: 500px;
    box-sizing: border-box;
    padding: 0;
    gap: 0;
  }
  .foto-container {
    width: 100vw;
  }
  .my-foto {
    /* width: 100%; */
    height: 200px;
  }
  .toolkit {
    margin-bottom: 20rem;
  }
  footer::before {
    opacity: 0.3;
  }
  .footer-text {
    grid-column: 1/5;
  }
  .back-to-top p {
    display: none;
  }
  .back-to-top-arrow {
    font-size: 64px;
    animation: bobble 0.5s ease-out 0s infinite alternate;
  }
  .back-to-top:hover .back-to-top-arrow {
    animation: bobble 0.5s ease-out 0s infinite alternate;
  }
  .back-to-top:hover {
    transform: none;
  }
}
@media screen and (max-width: 481px) {
  :root {
    --global-padding-top: 0;
  }
  .name {
    font-size: 3.5rem;
  }
  .first-name-highlight {
    margin-right: 3.6rem;
  }
  .button-container {
    order: 2;
  }
  .foto-container {
    order: 1;
  }
  .my-foto {
    /* width: 100%; */
    height: 400px;
  }

  .icon:hover,
  .icon:focus,
  .icon:active {
    transform: none;
    /* add a shadow */
  }
  .icon-text {
    opacity: 1;
    transform: none;
    transition: none;
  }
  .icon:hover + .icon-text,
  .icon:active + .icon-text,
  .icon:focus + .icon-text {
    transform: none;
    opacity: 1;
  }
}
