:root {
  --global-color-primary: #000000;
  --global-color-primary-light: rgba(0, 0, 0, 0.5);
  --global-color-secondary: #a80505;
  --global-navbar-height: 4.93rem;
  --global-headings-font-size: 2rem;
}

html {
  /* set the font size to the size of the browser */
  font-size: 100%;
  scroll-snap-type: y proximity;
}
body {
  scroll-snap-type: y mandatory;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /*removes white spaces around the page when 0*/
}
header {
  display: flex;
  flex-direction: column;
  height: 200vh;
}
/* Title of the Page */
.title {
  scroll-snap-align: start;
  /* width: 100%; */
  height: 100vh;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
/*Name and last Name*/
@keyframes name-apear-left {
  from {
    left: 50%;
  }
  to {
    left: 33%;
  }
}
@keyframes name-apear-right {
  from {
    right: 33%;
  }
  to {
    right: 50%;
  }
}
.first-name-container {
  /* 163.63px 72px */
  height: 4.5rem;
  position: relative;
}
.last-name-container {
  /* 199.19px 72px */
  height: 4.5rem;
  position: relative;
}
.background {
  position: absolute;
  border: 1px;
  width: 6rem;
  height: 4rem;
  transform: skewY(-10deg);
}
.first-name-background {
  right: 50%;
  margin-right: 4.5rem;
  background-color: var(--global-color-primary);
  opacity: 0.5;
}
.last-name-background {
  left: 50%;
  background-color: var(--global-color-secondary);
  opacity: 0.8;
}
.name {
  padding: 1rem;
  font-size: 4rem;
}
.first-name {
  right: 50%;
  position: absolute;
  animation: name-apear-right 2s ease-in-out 100ms 1 normal forwards;
}
.last-name {
  left: 50%;
  position: absolute;
  animation: name-apear-left 2s ease-in-out 100ms 1 reverse forwards;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* Navigation */
nav {
  scroll-snap-align: start;
  flex-basis: 50%;
  position: relative;
}

.my-foto {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.button-container {
  position: relative;
}
.hidden {
  opacity: 0;
}

/*Toolkit*/
.toolkit {
  margin: 300px;
}
.toolkit-head {
  font-size: var(--global-headings-font-size);
  position: relative;
  display: inline-block;
}
.tool-hammer {
  color: var(--global-color-primary);
}
.toolkit-head::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 100%;
  background-color: var(--global-color-secondary);
  z-index: -2;
  transform: skewY(-20deg);
  transition: all 1s;
}
.toolkit-head:hover:after {
  transform: skewY(0);
  width: 13.5rem;
  height: 15%;
  top: 2rem;
}
.icons-container {
  display: flex;
  justify-content: space-evenly;
}
.icon-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon {
  font-size: 80px;
  cursor: pointer;
  color: var(--global-color-secondary);
}
.icon {
  /* transition: property duration timing-function delay|initial|inherit; */
  transition: transform 0.3s ease-out;
  z-index: 1;
}
.icon:hover,
.icon:focus,
.icon:active {
  transform: translateY(-8px);
  /* add a shadow */
}
.icon-text {
  opacity: 0;
  z-index: 0;
  transform: translateY(-40px);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  /* transition: transform 0.5s; */
}
.icon:hover + .icon-text {
  transform: translateY(-10px);
  opacity: 1;
}

/* On screens that are 1.090,66px or less, set the background color to blue */
/* @media screen and (max-width: 1090.66px) {
  header {
    flex-direction: column;
    height: 200vh;
  }
} */
