:root {
  --global-color-primary: #000000;
  --global-color-primary-light: rgba(0, 0, 0, 0.5);
  --global-color-secondary: #a80505;
  --global-navbar-height: 4.93rem;
}

html {
  /* set the font size to the size of the browser */
  font-size: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px; /*removes white spaces around the page*/
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Title of the Page */
.title {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  flex-flow: column;
}
.name {
  padding: 1rem;
  font-size: 4rem;
}
@keyframes name-apear-left {
  from {
    left: 50%;
  }
  to {
    left: 33%;
  }
}
@keyframes name-apear-right {
  from {
    right: 33%;
  }
  to {
    right: 50%;
  }
}
.first-name-container {
  /* 163.63px 72px */
  height: 4.5rem;
  position: relative;
}
.last-name-container {
  /* 199.19px 72px */
  height: 4.5rem;
  position: relative;
}
.background {
  position: absolute;
  border: 1px;
  width: 6rem;
  height: 4rem;
  transform: skewY(-10deg);
}
.first-name-background {
  right: 71%;
  background-color: var(--global-color-primary);
  opacity: 0.5;
}
.last-name-background {
  left: 50%;
  background-color: var(--global-color-secondary);
  opacity: 0.8;
}

.first-name {
  right: 50%;
  position: absolute;
  animation: name-apear-right 2s ease-in-out 100ms 1 normal forwards;
}
.last-name {
  left: 50%;
  position: absolute;
  animation: name-apear-left 2s ease-in-out 100ms 1 reverse forwards;
}
/* /////////////////////////////////////////////////////////////////////////// */
nav {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.my-foto {
  display: block;
  width: auto;
  height: 100vh;
  aspect-ratio: attr(width) / attr(height);
}
/* On screens that are 720px or less, set the background color to blue */
@media screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }
}
